[Unit]
Description=GPIO Power daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/gpiopowerd -c /etc/gpiopowerd.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
